@import "tailwindcss";

@theme {
  --breakpoint-pre-lg: 900px;
}

@font-face {
  font-family: 'Integral CF Bold';
  src: url('/IntegralCF-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 3rem 2rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: "Integral CF Bold";
  line-height: 1.1;
  color: #000000;
}

h1, h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

:root {
  line-height: 1.5;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


button, #button {
  font-size: 14px;
  font-family: inherit;
  background-color: #d6e4e7;
  border-radius: 50px;
  color: #301313;
  cursor: pointer;
}

#button-delete {
  background-color: #f3f4f6;
  color: red;
}

button:hover,
#button:hover,
#button-delete:hover {
  background-color: #afc4c9;
  transition: all ease-in-out 0.2s;
}

button:focus,
button:focus-visible {
  outline: 4px auto #6a7282;
}

#menu-button {
  background-color: #f3f4f6;
}

#search-button, #book-button, .rdp-today:not(.rdp-outside){
  background-color: #7aa7b1;
  border-radius: 50px;
}

:is(.rdp-button_next, .rdp-button_previous) .rdp-chevron {
  fill: #7aa7b1;
}

.rdp-weeks{
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
 .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 750px) {
  h1, h2 {
    font-size: 1em;
  }

  .rdp-day {
    width: 30px !important;
    height: 30px !important;
  }

  .rdp-day_button {
    width: 30px !important;
    height: 30px !important;
  }
}

