@import "tailwindcss";
@font-face {
  font-family: 'Integral CF Bold';
  src: url('/IntegralCF-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Satoshi", sans-serif;
}

h1, h2, h3 {
  font-family: "Integral CF Bold";
  line-height: 1.1;
  color: #000000;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
