:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


button, #button {
  font-size: 14px;
  font-family: inherit;
  background-color: #d6e4e7;
  border-radius: 50px;
  color: #301313;
  cursor: pointer;
}

button:hover {
  background-color:#afc4c9;
  transition: all ease-in-out 0.2s;
}

#menu-button {
  background-color: #f3f4f6;
}


#search-button, #book-button, .rdp-today:not(.rdp-outside){
  background-color: #7aa7b1;
  border-radius: 50px;
}

:is(.rdp-button_next, .rdp-button_previous) .rdp-chevron {
  fill: #7aa7b1;
}

button:focus,
button:focus-visible {
  outline: 4px auto #6a7282;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
